<!-- <div id="contactModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2>You can call us at:</h2>
          <a href="">(+4) 0264 403 662</a> or
          <a href="">(+4) 0264 403 489</a>
          
          <form name="myForm" method="post">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input id="firstName" type="text" name="firstName">  </br>
            </div>
            <div class="form-group">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" name="lastName">  </br>
            </div>
            <div class="form-group">
            <label for="phone">Phone</label>
            <input id="phone" type="text" name="phone">  </br>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close-button" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary submit-button">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control is-valid" id="firstName" required>
            <!--<div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              First name cannot be null!
            </div>-->
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control is-valid" id="lastName" required>
            <!--<div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Last name cannot be null!
            </div>-->
        
        
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone number</label>
            <input type="text" class="form-control is-valid" id="phoneNumber" required>
            <!--<div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Phone number cannot be null!
              Phone number must contain only digits!
            </div>-->
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <input type="text" class="form-control is-valid" id="status" required>
            <!--<div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Phone number cannot be null!
              Phone number must contain only digits!
            </div>-->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary submit-button">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

 Modal 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="mb-3">
            <label for="currentId" class="form-label">Id</label>
            <input type="text" class="form-control is-valid" id="currentId" required>
            <!--<div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              First name cannot be null!
            </div>-->
          </div>
          <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control is-valid" id="firstName2" required>
            <!-- <div class="valid-feedback">
              Looks good!
            </div> 
            <div class="invalid-feedback">
              First name cannot be null!
            </div> -->
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control is-valid" id="lastName2" required>
            <!--<div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Last name cannot be null!
            </div>-->
        
        
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone number</label>
            <input type="text" class="form-control is-valid" id="phoneNumber2" required>
            <!--<div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Phone number cannot be null!
              Phone number must contain only digits!
            </div>-->
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <input type="text" class="form-control is-valid" id="status2" required>
            <!--<div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Phone number cannot be null!
              Phone number must contain only digits!
            </div>-->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="edit-button" type="button" class="btn btn-primary edit-button">Save changes</button>
      </div>
    </div>
  </div> 
</div> 