<main>
    <div class="poster">
        <div class="text-box">
            <h3>Powerful packed services</h3>
            <h1>Better Solution At Your Fingertips</h1>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button" id="indigo">Contact us</button>
            <button class="btn btn-primary" type="button" id="violet">Learn more</button>
            
        </div>
    </div>


    <div class="txt">
            <div class="text-box2">
                <h2>Smart Solutions For Your Buisness</h2> 
            </div>
            <div class="bluebar">
                <div id="blue"></div>
            </div>
           
          
        
       
    </div>


    
</main>