<DOCTYPE HTML>
<html lang="en"> 
   <!-- <table class="table table-bordered">
        <thead>
          <tr class="table-active">
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">PhoneNumber</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>0766475472</td>
          </tr>
          <tr class="table-active">
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>0745654388</td>
          </tr>
        </tbody>
      </table>-->
      
      <table id="table" class="table table-striped table-bordered table-primary">
      <!--  <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">Status</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>-->
      </table>
</html>